@import 'base.less';

/*TODO: implement layout page*/

/*==========  Global  ==========*/
html{
  height: 100%;
}

body {
  height: 100%;
  text-align:center;
}

body > container {
  margin: 0px auto;
}